body {
	margin: 0 auto;
}

hr{
	width: 3%;
	margin-left:auto;
	margin-right: auto;
	border-top: 1px solid #4a4a4a;
}

#hero {
	width: 100%;
	height: 650px;
	background-image: url("images/hero-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}

#hero-center{
	margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: absolute;
    top: 40em;
    z-index: 3;
}

#hero-center h1{
	text-align: center;
}
#hero-center a {
	background-color: #337ab7;
    text-align: center;
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 0.3em;
}


#hero-center a:hover {
	background-color: #f4f4f4;
    color: #337ab7;
    cursor: pointer;

}
#hero-center p{
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

/* Exhibition section */

#exhibition{
	margin-right: auto;
    margin-left: auto;
    width: 40%;
    float: left;
}

#exhibition h3{
	font-family: 'Poiret One', cursive;
	margin-left: 30px;
	letter-spacing: 0.1em;

}
#exhibition h1{
	font-family: 'Poiret One', cursive;
	margin-left: 30px;
	text-align: justify;
	font-size: 7em;
	letter-spacing: 0.4em;
	color: #4a4a4a;

}

#exhibition-right {
	float: left;
	width: 60%;
	height: 450px;
}

#exhibition-right p{
	font-family: 'Poiret One', cursive;
	margin-left: 30px;
	margin-top: 15%;
	margin-bottom: auto;
	letter-spacing: 0.1em;
	color: #4a4a4a;
	width:70%;

}

#exhibition-right a{
	margin-left: 30px;
	background-color: #337ab7;
    text-align: center;
    text-decoration: none;
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

#exhibition-right a:hover{
	background-color: #f4f4f4;
    color: #337ab7;
    cursor: pointer;
}

/* gallery section */
#gallery-section {
	float: left;
	width: 100%;
	height:650px;
	background-image: url("images/gallery-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
#gallery-left {
	margin-right: 180px;
    width: 50%;
    height: 130px;
    text-align: right;
    float: right;
    position: relative;
    top: 20em;
}

#gallery-left h2 {
	font-family: 'Poiret One', cursive;
	color: #f4f4f4;
	letter-spacing: 0.1em;
	margin-bottom: 25px;
	font-size: 4em;
}


#gallery-left a{
	background-color: #337ab7;
    text-align: center;
    text-decoration: none;
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 0.3em;
}

#gallery-left a:hover{
	background-color: #f4f4f4;
    color: #337ab7;
    cursor: pointer;
   
}

#artist-section {
	float: left;
	background-color: #4a4a4a;
}

/*gethere section*/
#get-section{
	width: 50%;
	height: 580px;
	background-image: url("images/get-bg.jpg");
	background-size: cover;
	float: left;
}
#get-section:hover{
	background-image: url("images/get-bg-hover.jpg");

}

/*contact section*/
#contactSection{
	width: 50%;
	height: 580px;
	float: left;
	background-image: url("images/contact-bg.jpg");
	background-size: cover;
	position: relative;
}

#contactSection:hover{
	background-image: url("images/contact-bg-hover.jpg");

}

/*support.html*/

#support-textarea {
	height: auto;
	float: left;
	width: 100%;
	margin-top: 50px;
}

#support-textarea h3 {
	color: #4a4a4a;
	text-align: center;
	letter-spacing: 0.3em;
	font-family: 'Poiret One', cursive;
	font-size: 24px;
}

#support-textarea p {
	color: #4a4a4a;
	text-align: center;
	letter-spacing: 0.1em;
	font-family: 'Poiret One', cursive;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

#support-textarea hr {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right: auto;
	border-top: 1px solid #4a4a4a;
}

#sponsors-area h4{
	color: #4a4a4a;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-family: 'Poiret One', cursive;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#sponsors-area{
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.col-md-4{
	text-align: center;
	
}
.col-md-4 span {
	color: #4a4a4a;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-family: 'Poiret One', cursive;
}

.col-md-4 a{
	text-align: center;
	text-decoration: none;
}

.col-sm-3 {
	text-align: center;
	color: #0A466F;
}

.col-sm-1 {
	text-align: center;
}

.col-sm-3 a:hover{
	text-decoration: none;
	color: #4a4a4a;
}

.row-sponsor{
	margin-right:0;
}

.row{
		margin-bottom: 50px;
	}

/* gettinghere.html */

#gethere {
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
#gethere-body h3 {
	color: #4a4a4a;
	text-align: center;
	letter-spacing: 0.3em;
	font-family: 'Poiret One', cursive;
}

#gethere-body hr{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right: auto;
	border-top: 1px solid #4a4a4a;
}

#gethere-body{
	width: 50%;
	margin-left: auto;
	margin-right: auto;

}

#map{
	margin-left:30px;

}
#gethere-detail{
	height: 280px;
    width: 40%;
    background: #0A466F;
    position: absolute;
   	top: 330px;
    right: 50px;
    padding: 50px;
    font-family: 'Poiret One', cursive;
    color: #f4f4f4;
}

#gethere-detail hr{
	border-color: #f4f4f4;
	width: 10%;
	float: left;
}

#gethere-detail h3{
	font-size: 2em;
	letter-spacing: 0.1em;
}

#gethere-detail p{
	clear: left;
}

#gethere-detail a{
	text-decoration: none;
	color: #46BCEC;
	letter-spacing: 0.1em;
}

/*Exhibition.html*/
#leftside{
	width: 50%;
	height: 640px;
	background-color: #46BCEC;
	float: left;

}

#rightside{
	width: 50%;
	height: 640px;
	background-color: #f4f4f4;
	float: left;

}
#leftside-middle{
	margin-left: auto;
	margin-right: auto;
	margin-top: 350px;
}

#leftside-middle h3{
	font-size: 2em;
	letter-spacing: 0.1em;
	font-family: 'Poiret One', cursive;
	color: #f4f4f4;
	text-align: center;
}

#leftside-middle hr{
	border-color: #f4f4f4;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
	
}

#rightside-middle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#leftside-middle hr{
	width: 10%;
	margin-right: auto;
	margin-left: auto;
	
}

#rightside-middle p{
	text-align: left;
	font-size: 12px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #4a4a4a;
}

#rightside-middle p{
	text-align: left;
	font-size: 12px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #4a4a4a;
}

#img-middle img{
	margin-left: 10%;
}

#img-middle{
margin-left: auto;
margin-right: auto;
}


#bold{
	font-weight: bold;
	color: #46BCEC;
}


/* CONTACT.HTML */

#leftside-contact{
	width: 50%;
	height: 850px;
	background-color: #46BCEC;
	float: left;

}

#rightside-contact{
	width: 50%;
	height: 850px;
	background-color: #f4f4f4;
	float: left;

}
#leftside-middle-contact{
	position: relative;
    top: 250px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#leftside-middle-contact h3, h4{
	font-size: 2em;
	letter-spacing: 0.1em;
	font-family: 'Poiret One', cursive;
	color: #f4f4f4;
	text-align: center;
}
#leftside-middle-contact h4{
	font-size: 0.9em;
	letter-spacing: 0.1em;
	font-family: 'Poiret One', cursive;
	color: #f4f4f4;
	text-align: center;
}

#leftside-middle hr,
#leftside-middle-contact hr{
	border-color: #f4f4f4;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
	
}

#rightside-middle-contact {
	margin-left: 65px;
	margin-right: auto;
	margin-top: 100px;
}


#rightside-middle-contact p{
	text-align: left;
	font-size: 12px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;

}

.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 75%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 1px;
	cursor: pointer;
	color: #4a4a4a;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	line-height: 1.5;
	font-size: 1.2em;
	padding: 0px 10px;
	border:3px solid #4a4a4a;
	color: #4a4a4a;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #4a4a4a;
}

.cbp-mc-form textarea {
	min-height: 130px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #46BCEC;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #4a4a4a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4a4a4a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4a4a4a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #4a4a4a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: left;
	padding-left: 30px;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #46BCEC;
	border: none;
	color: #f4f4f4;
	width: auto;
	cursor: pointer;
	display: inline-block;
	padding: 10px 25px;
	font-size: 1em;
	border-radius: 1px;
	letter-spacing: 0.1em;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #0A466F;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 75%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}

	#rightside-middle-contact {
	margin-left: auto;
	}

}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
	#rightside-middle-contact {
	margin-left: auto;
	}
}

/*footer*/
#footer{
	height: 70px;
    background-color: #0A466F;
    float: left;
    position: relative;
    width: 100%;
}

#footer h3{
	margin-left: 20px;
	margin-top: 32px;
	text-align: left;
	color: #f4f4f4;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.1em;
	font-size: 12px;
	

}

#social{
	text-align: right;
	float: right;
	margin-top: -30px;
}

#Fb {
   background:url("images/facebook.png") no-repeat; 
   height: 30px;
   width: 30px;
   display: inline-block;
   margin-right: 15px;
}

#Fb:hover {
   background:url("images/facebook-hover.png") no-repeat; 
}

#Twitter {
   background:url("images/twitter.png") no-repeat; 
   height: 30px;
   width: 30px;
   display: inline-block;
   margin-right: 15px;
}

#Twitter:hover {
   background:url("images/twitter-hover.png") no-repeat; 
}

#Insta{
   background:url("images/instagram.png") no-repeat; 
   height: 30px;
   width: 30px;
   display: inline-block;
   margin-right: 15px;
}

#Insta:hover {
   background:url("images/instagram-hover.png") no-repeat; 
}




/* TABLET */

@media (max-width: 768px) {
	/*Home*/
	#exhibition{
		width: 100%;
	}

	#exhibition h1, h3{
		text-align: center;

	}

	#exhibition br{
		visibility: hidden; 
	}

	#exhibition-right{
		clear: left;
		width: 100%;
		text-align: center;
	}

	#exhibition-right p{
		text-align: justify;
		margin-left: auto;
    	margin-right: auto;
	}

	#gallery-section{
		clear:right;
		background-attachment: initial;

    	
	}

	#gallery-left{
		clear:right;
		text-align: center;
    	margin-right: auto;
    	width: 100%;
   
	}

	#get-section{
		height: 25em;
		background-size: cover;
		background-repeat: no-repeat;

	}

	#contactSection{
		height: 25em;
		background-size: cover;
		background-repeat: no-repeat;
	}

	/*Exhibition*/

	#leftside{
		width: 100%;
		height: 280px;
	}

	#leftside-middle{
		margin-top: 150px;
	}

	#rightside{
		width: 100%;
		height: auto;	
	}

	#rightside-middle{
		margin-top: 60px;	
	}

	#rightside-middle p{
		text-align: center;
	}

	#img-middle{
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	}

	#img-middle img{
	margin-left: 0;
	}

	

	/*Getting Here*/

	#gethere{
		margin-bottom: auto;
	}

	#map{
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}

	iframe{
		width: 100%;
	}

	#gethere-detail {
		height: 280px;
	    width: 90%;
	    margin-right: auto;
	    margin-left: auto;
	    position: inherit;
	    margin-top: 5px;
	}

	#gethere-detail h3 {
	    text-align:left;
	}

	/*Contact*/
	#leftside-contact {
	    width: 100%;
	    height: 450px;
	}

	#leftside-middle-contact {
    	top: 130px;
	}

	#rightside-contact {
    	width: 100%;
	}

	#rightside-middle-contact {
	    margin-top: 0px;
	    width: 75%
	}

	.cbp-mc-submit-wrap{
		padding-left: 10px;
	}

	/*Contact*/
	.row img{
		margin-bottom: 40px;

	}

	.row {
		text-align: center;

	}
}

	/*MOBILE*/

	@media (max-width: 480px) {

	#get-section{
		width: 100%;
		height: 30em;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#contactSection{
		width: 100%;
		clear: left;
		height: 30em;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#footer {
		height: 100px;
	}
	
	#footer h3{
		font-size: 10px;
		text-align: center;
	}

	#footer {
		height: 125px;
	}
	#social{
		text-align: center;
		margin-top: 25px;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	#Insta{
		margin-right: 0px;
	}
	/*EXHIBITION*/

	#rightside p{
		font-size: 12px;
	}

	#gethere-detail{
		height: 300px;
	}

	.cbp-mc-submit-wrap {
    text-align: center;
	}